
<!--Get Global Header-->

<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head id="www-sitename-com" data-template-set="html5-reset-wordpress-theme" profile="http://gmpg.org/xfn/11">


  <%=  javascript_include_tag  %>
  <meta charset="UTF-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <title>Home | Etena</title>

  <meta name="title" content="  Home - Etena">
  <meta name="description" content="">

  <meta name="google-site-verification" content="">
  <!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->

  <meta name="name" content="Cameron Morris">
  <meta name="Copyright" content="Copyright Samasource 2012. All Rights Reserved.">

  <meta name="DC.title" content="Etena">
  <meta name="DC.subject" content="Etena is a trust to forsee and aid in distributing financial needs through networking among NGOs and people">
  <meta name="DC.creator" content="Satish Vishwanathan">



  <!--<link rel="shortcut icon" href="http://static.samasource.org/wp-content/themes/samasource/_/images/favicon.ico" type="image/x-icon">-->
  <!-- This is the traditional favicon.
         - size: 16x16 or 32x32
         - transparency is OK
         - see wikipedia for info on browser support: http://mky.be/favicon/ -->

  <!--<link rel="apple-touch-icon" href="http://static.samasource.org/wp-content/themes/samasource/_/img/apple-touch-icon.png">-->
  <!-- The is the icon for iOS's Web Clip.
         - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
         - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
         - Transparency is not recommended (iOS will put a black BG behind the icon) -->

   <!--CSS: screen, mobile & print are all in the same file -->
  <link rel="stylesheet" href="http://static.samasource.org/wp-content/themes/samasource/style.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>


  <!-- all our JS is at the bottom of the page, except for Modernizr. -->
  <script src="http://static.samasource.org/wp-content/themes/samasource/_/js/modernizr-1.7.min.js"></script>


  <!--<link rel="pingback" href="http://samasource.org/xmlrpc.php" />-->



  <!-- SEO Ultimate (http://www.seodesignsolutions.com/wordpress-seo/) -->
  <meta name="description" content="Samasource is an innovative social business that connects women and youth living in poverty to dignified work via the Internet." />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Home" />
  <meta property="og:description" content="Samasource is an innovative social business that connects women and youth living in poverty to dignified work via the Internet." />
  <meta property="og:url" content="http://samasource.org/home/" />
  <meta property="article:published_time" content="2012-07-30" />
  <meta property="article:modified_time" content="2012-08-15" />
  <meta property="article:author" content="http://samasource.org/author/admin/" />
  <meta property="og:site_name" content="Samasource" />
  <meta name="twitter:card" content="summary" />
  <!-- /SEO Ultimate -->

  <link rel="alternate" type="application/rss+xml" title="Samasource &raquo; Feed" href="http://samasource.org/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Samasource &raquo; Comments Feed" href="http://samasource.org/comments/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Samasource &raquo; Home Comments Feed" href="http://samasource.org/home/feed/" />
  <link rel='stylesheet' id='hubspot-css'  href='http://static.samasource.org/wp-content/plugins/hubspot/css/hubspot.css?ver=3.4.1' type='text/css' media='all' />
  <link rel='next' title='Donate' href='http://samasource.org/donate/' />
  <link rel='canonical' href='http://samasource.org/home/' />
  <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

  <meta property="og:title" content="" />
  <meta property="og:type" content="non_profit" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="fb:admins" content="500635318" />
</head>
<body class="page page-id-5 page-template page-template-home-php">

<!--FB Button JS-->
<div id="fb-root"></div>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=139646729499170";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!--Twitter Button JS-->
<!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->

<!--Begin Header-->
<header id="header">

  <!--Begin Black Bar with Global Nav Elements-->
  <div id="black_bar">
    <div id="page-wrap">
      <div id="global-nav">
        <!--<ul id="menu-global-nav" class="menu"><li id="menu-item-190" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-190"><a href="/business/the-company">Company</a></li>-->
          <!--<li id="menu-item-191" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-191"><a href="/home">Non-Profit Mission</a></li>-->
          <!--<li id="menu-item-192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-192"><a href="/business">Digital Services</a></li>-->
        <!--</ul>-->
      </div>
      <div id="social-media">
        <ul>
          <!--<li>-->
            <!--<div class="linkedin-btn">-->
              <!--<a href="http://www.linkedin.com/company/etena" target="_blank"><img src="http://static.samasource.org/wp-content/themes/samasource/_/images/linkedin.png"></a>-->
            <!--</div>-->
          <!--</li>-->
          <li>
            <!--FB Like Button-->
            <div class="fb-cont">
              <div class="fb-like" id="fb-like" data-href="http://www.facebook.com/pages/Etena/147019698654577"  data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
            </div>
          </li>
          <li>
            <!--Tweet Button-->
            <!--a href="https://twitter.com/samasource" class="twitter-follow-button" data-show-count="false"  data-show-screen-name="false">Follow @samasource</a>-->

            <a href="https://twitter.com/etenatrust" class="twitter-follow-button"  data-show-screen-name="false">Follow @Etenatrust</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div id="page-wrap">

    <!--Begin Header With Donor Nav Elements-->
    <div id="header_items">

      <!--Samasource Logo-->
      <a href="../home"><div class ="home_icon"><%= image_tag "etena_icon.jpg" %></div></a>

      <!--Get Top Nav Menu-->
      <div id="donor-nav">
        <ul id="menu-top-nav" class="menu"><li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="#" class="scroll_to_bottom">Causes</a></li>
          <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="#" class="scroll_to_bottom">FAQ</a></li>
          <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="#" class="scroll_to_bottom">Get Involved</a></li>
          <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="#" class="scroll_to_bottom">Contact Us</a></li>
        </ul>
      </div>

      <!--Newsletter Sign Up Form-->
      <!--TODO redirect to contact us; in a new window-->
      <!--<div id="sign-up-form">-->
        <!--<form action="POST" id="email-sign-up-form" method="">-->
          <!--<label style="vertical-align:middle;margin-right:2px;">Keep In Touch:</label></br>-->
          <!--<input  type="text" name="email-field" id="email-field" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'email address':this.value;" value="email address">-->
          <!--<input type="button" id="submit-email"/>-->
        <!--</form>-->
      <!--</div>-->

      <!--Up/Down Page Navigation Arrows-->
      <!--
          <div class="nav-arrows">
              <a class="nav-up"></a>
              <a class="nav-down"></a>
          </div>
      -->
    </div>
  </div>
</header>
<!--End Header-->
<!--Donate Button-->
<a href="../donate" id="donate-button" class="custom-donate-button"></a>
<!--Modal div-->
<div id="basic-modal-content">
</div>

<!--Start Section 1-->
<div class="slide1-home" id="slide1" data-slide="1">
  <div id="page-wrap" class="slide1-cont-home">

    <!--Our Mission Text-->
    <div id="home-post-1">
      <article>
        <p class="post-title">Our Mission</p>
        <div class="post-content"><p>Samasource is an innovative social business that connects women and youth living in poverty to dignified work via the Internet.</p>
        </div>

        <!--Link to Our Mission-->
        <div class="cta-140">
          <a href="../our-mission" class="cta-140">learn more <span class="yellow-arrows">>></span></a>
        </div>

      </article>
    </div>

    <!--Home 1 BG image-->
    <!--<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/home-cont-1.png">-->
    <div class="carousel">
      <ul>
        <li><%=  image_tag "banner_1.jpg", size: "16*10"%></li>
        <li><%=  image_tag "banner_2.jpg" %></li>
        <li><%=  image_tag "banner_3.jpg" %></li>
      </ul>
    </div>

    <!--What's New Header-->
    <div class="home-post-2">
      <article>
        <p class="post-title">What&#8217;s New</p>
      </article>
    </div>

    <!--What's New Articles-->
    <div class="home-post-3">
      <article>
        <div class="news-image"><a href="/gala"><img src="http://static.samasource.org/wp-content/uploads/2012/08/gala-home1.png"></a></div>
        <div class="post-content"><p><a href="http://samasource.org/gala"><img class="alignnone size-full wp-image-466" title="gala-home" src="http://static.samasource.org/wp-content/uploads/2012/08/gala-home1.png" alt="" width="116" height="81" /></a></p>
          <p>Announcing the 4th Annual Give Work Gala: Work For the Next Billion</p>
          <p><a title="Gala" href="http://samasource.org/gala/">Read More &gt;&gt;</a></p>
        </div>

      </article>


      <article>
        <div class="news-image"><a href="#" class="more-news"><img src="http://static.samasource.org/wp-content/uploads/2012/08/fast-home.png"></a></div>
        <div class="post-content"><p dir="ltr"><img class="alignnone size-full wp-image-469" title="fast-home" src="http://static.samasource.org/wp-content/uploads/2012/08/fast-home.png" alt="" width="116" height="155" /></p>
          <p dir="ltr">Fast Company names Samasource Founder &amp; CEO Leila Janah a member of the League of Extraordinary Women</p>
          <p><a href="#" class="more-news">Read full article >> </a></p>
          <p><a href="http://www.samasource.org/business/news" target="_blank">Read more news >> </a></p>
        </div>

      </article>
    </div>

    <!--TEDx Video-->
    <div class="home-post-4">
      <article>
        <p class="post-title">Why We&#8217;re Different</p>
        <div class="post-content"><p>Leila Janah talks about ending poverty in the digital era</p>
          <!--<p><iframe src="http://www.youtube.com/embed/319sQ9s-lyQ" frameborder="0" width="540" height="300"></iframe></p>-->
        </div>
      </article>
    </div>
  </div>
</div>
<!--End Section 1-->

<!--Start Section 2-->
<div class="slide2-home" id="slide2" data-slide="1">
  <div id="page-wrap" class="slide2-cont-home">

    <!--Image with workers and circle -->
    <img src="http://static.samasource.org/wp-content/themes/samasource/_/images/home-cont-2.png">

    <!--The Problem Text-->
    <article>
      <p class="post-title">The Problem</p>
      <div class="post-content"><p><strong>There is a global shortfall of 1.8 billion formal jobs. That means unemployment for 60% of the 3 billion people seeking formal work.</strong></p>
        <p>Now is the time for change. Approximately 43 million people could benefit from microwork&#8211;small, computer-based tasks taken from larger digital projects. This microwork helps workers build skills and generate life-changing income.</p>
      </div>

      <!--Link to How We Work-->
      <div class="cta-300">
        <a href="../how-we-work">learn more about the problem <span class="yellow-arrows">>></span></a>
      </div>

    </article>
  </div>
</div>
<!--End Section 2-->

<!--Start Section 3-->
<div class="slide3-home" data-slide="1">
  <div id="page-wrap" class="slide3-cont-home">

    <!--Our Solution Text-->
    <div class="how-we-work-home-1">
      <article>
        <p class="post-title">Our Solution</p>
        <div class="post-content"><p>We connect women and youth living in poverty to life-changing work via the Internet.</p>
        </div>

      </article>
    </div>

    <!--Three How We Work Text Blurbs-->
    <div id="how-we-work-home">
      <ul>
        <li>
          <article>
            <div class="post-content"><p>We work with in-country partners to identify and recruit poor women and youth, making less than $3 a day on average, to become Samasource workers and give them the opportunity to earn a living wage.</p>
            </div>
          </article>
        </li>
        <li>
          <article>
            <div class="post-content"><p>Workers receive 2-4 weeks of computer-based training in order to prepare them for microwork projects and position them for ongoing success in the workplace.</p>
            </div>
          </article>
        </li>
        <li class="last-child">
          <article>
            <div class="post-content"><p>Workers perform microwork for our clients, enabling them to earn a living wage and gain the critical job skills necessary to increase their lifetime earnings.</p>
            </div>
          </article>
        </li>
      </ul>

      <!--Link to How We Work-->
      <div class="cta-300">
        <a href="../how-we-work">learn more about microwork <span class="yellow-arrows">>></span></a>
      </div>

    </div>
  </div>
</div>
<!--End Section 3-->

<!--Start Section 4-->
<div class="slide4-home" id="slide4">
  <div id="page-wrap" class="slide4-cont-home">

    <!--Impact Text #-->
    <div id="home-impact">
      <article>
        <h2 class="post-title">The Impact</h2>
        <div class="post-content"><p>We aim to directly impact 120,000 women, youth and dependents by 2016.</p>
        </div>

        <div class="cta-300">
          <a href="../how-we-work">learn more about the impact <span class="yellow-arrows">>></span></a>
        </div>
      </article>
    </div>


    <div id="home-impact-to-date">
      <article>
        <h2 class="post-title">Impact To Date</h2>
      </article>
    </div>


    <!--Living Wages Paid #-->
    <div id="home-ticker1">
      <article>
        <h2 class="post-title">2073188</h2>
        <div class="post-content"><p>Living Wages Paid</p>
        </div>
      </article>
    </div>

    <!--Impacted Workers #-->
    <div id="home-ticker2">
      <article>
        <h2 class="post-title">03037</h2>
        <div class="post-content"><p>Impacted Workers</p>
        </div>
      </article>
    </div>
    <!--Impacted Workers & Dependents #-->
    <div id="home-ticker3">
      <article>
        <h2 class="post-title">09111</h2>
        <div class="post-content"><p>Impacted Workers and Dependents</p>
        </div>
      </article>
      <div id="impact-disclaimer">
        <p> “Impacted Workers” count includes Team Leads. Team Leads are delivery center employees responsible for quality-assurance facilitation and worker feedback.</p>
      </div>
    </div>
  </div>
</div>




<!--Get Global Footer-->

<!-- Begin Footer -->

<!--<footer id="global-footer" class="source-org vcard copyright">-->
  <div id="page-wrap-splash">
    <div id="global-footer-nav">
      <!-- Get Footer Nav Menu -->
      <ul id="menu-footer-nav" class="menu"><li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a target="_blank" href="http://samasource.org/business/careers/">Careers</a></li>
        <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a target="_blank" href="http://samasource.org/business/news/">News &#038; Press</a></li>
        <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a target="_blank" href="http://samasource.org/business/the-company/">Contact</a></li>
        <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a target="_blank" href="http://samasource.org/business/the-company/?team_position=2-leadership">Leadership</a></li>
        <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a target="_blank" href="http://samasource.org/business/">Digital Services</a></li>
        <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-16"><a href="/home">Non-Profit Mission</a></li>
        <li id="menu-item-673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-673"><a href="http://samasource.org/donate/">Donate</a></li>
      </ul>
    </div>
  </div>
</footer>



<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
    var _hsq = _hsq || [];
    _hsq.push(["setContentType", "standard-page"]);
    (function(d,s,i,r) {
        if (d.getElementById(i)){return;}
        var n = d.createElement(s),e = document.getElementsByTagName(s)[0];
        n.id=i;n.src = '//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/210939.js';
        e.parentNode.insertBefore(n, e);
    })(document, "script", "hs-analytics",300000);
</script>
<!-- End of Async HubSpot Analytics Code -->
<div id="su-footer-links" style="text-align: center;"></div>

<!-- here comes the javascript -->

<!-- jQuery is called via the Wordpress-friendly way via functions.php -->

<!-- Include file with custom functions -->
<script src="http://static.samasource.org/wp-content/themes/samasource/_/js/functions.js"></script>



<script>

    //Set template directory variable
    $(document).ready(function (){
        templateDir = "http://static.samasource.org/wp-content/themes/samasource";

//Onclick on register button produce eventbrite embed code in basic modal content container
        $(".register-button").click(function() {
            $('#basic-modal-content').html(

                    '<h3>Register for the Gala</h3>' +
                            '<div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=3518482877&ref=etckt" frameborder="0" height="434" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://giveworkgala2012.eventbrite.com?ref=etckt">Samasource 4th Annual Give Work Gala</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>'

            );

            //open modal window with id of simplemodal-eventbrite
            $('#basic-modal-content').modal({
                containerId: 'simplemodal-eventbrite',
                overlayClose:true,
            });
            return false;
        });


//On corporate button click open modal with form for becoming a corporate sponsor
        $("#corporate-button").click(function() {
            $('#basic-modal-content').html(

                    '<p>Complete this form to receive more information on corporate sponsorship opportunities with Samasource.</p>' +

                            '<hr>' +

                            '<input type=hidden name="oid" id="oid" value="00D80000000ZMtJ">' +
                            '<input type=hidden name="retURL" value="http://">' +
                            '<input type=hidden name="recordType" id="recordType" value="01280000000Q1YZ">' +
                            '<input type=hidden name="lead_source"  id="lead_source" value="Website Sponsorship Lead">' +
                            '<div class="form-row">' +
                            '<label for="email">Email</label></br><input  id="email" maxlength="80" name="email" size="20" type="text"/><br>' +
                            '</div><div class="form-row">'+
                            '<label for="first_name">First Name</label></br><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="last_name">Last Name</label></br><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="company">Company</label></br><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="title">Title</label></br><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="zip">Zip</label></br><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>' +
                            '</div>'+
                            '<input type="submit" id="corporate-submit-register" class="submit-button" name="submit">' +

                            '</form>'
            );

            //Open Modal
            $('#basic-modal-content').modal({
                containerId: 'simplemodal-signup',
                overlayClose:true
            });
            return false;
        });


//On submit send form data to sf process script and to salesforce via ajax
        $("#corporate-submit-register").live("click",function() {
            var oid = $("#oid").val();
            var lead_source = $("#lead_source").val();
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var zip = $("#zip").val();
            var company = $("#company").val();
            var title = $('#title').val();

            var dataString = 'oid='+ oid + '&lead_source=' + lead_source + '&first_name=' + first_name + '&last_name=' + last_name + '&email=' + email + '&zip=' + zip + '&company=' + company + '&title=' + title;

            var url = "http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php";

            $.ajax({
                type: "POST",
                url: url,
                data: dataString,
                success: function() {
                    $('#basic-modal-content').html("<p>Thank you for expressing interest in becoming a corporate sponsor. We will be in touch with you shortly.</p>");
                }
            });
            return false;
        });



        $('#sign-up-form').keypress(function(e){
            if ( e.which == 13 ) return false;
        });

        $("#sign-up-form").keyup(function(event){
            if(event.keyCode == 13){
                $("#submit-email").click();
            }
        });


        $("#submit-email").click(function() {

            var emailaddress = $("#email-field").val();

            $('#basic-modal-content').html(
                    '<p class=modal-title>You\'re Almost There</p>' +

                            '<hr>' +

                            '<p>Thank you for your interest in our work. Complete this form to receive timely updates with the latest stories, current events and opportunities to help bring dignified work to people like Samuel. </p>' +

                            '<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/samuel.png">' +

                            '<div class="signup-modal-quote"><p>“When Samasource came in, it helped me pay my rent. Now I have a place to call home.”</p><p> - Samuel, Samasource worker, Nairobi, Kenya </p></div>' +

                            '<p>Join our community and contribute to a new kind of philanthropy.</p>' +

                            '<form action="http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php" method="POST">' +

                            '<input type=hidden name="oid" id="oid" value="00D80000000ZMtJ">' +

                            '<input type=hidden name="retURL" value="http://">' +

                            '<input type=hidden name="lead_source"  id="lead_source" value="Newsletter Sign-up">' +

                            '<input type=hidden id="recordType" name="recordType" value="01280000000Q1YZ">' +

                            '<div class="form-row">'+

                            '<label for="email">Email</label><br/><input  id="email" maxlength="80" name="email" size="20" type="text" value ="' + emailaddress + '" /><br>' +

                            '</div>' +

                            '<div class="form-row">' +

                            '<label for="first_name">First Name</label><br/><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>' +

                            '</div>' +

                            '<div class="form-row">' +

                            '<label for="last_name">Last Name</label><br /><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>' +

                            '</div>'+

                            '<div class="form-row">' +

                            '<label for="zip">Zip</label></br><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>' +

                            '</div>'+

                            '<input type="submit" id="sf-submit" class="submit-button" value="sign up" name="submit">' +

                            '</form>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-signup',
                overlayClose:true
            });
            return false;
        });

        $("#sf-submit").live("click",function() {

            var oid = $("#oid").val();
            var lead_source = $("#lead_source").val();
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var zip = $("#zip").val();

            var dataString = 'oid='+ oid + '&lead_source=' + lead_source + '&first_name=' + first_name + '&last_name=' + last_name + '&email=' + email + '&zip=' + zip;

            var url = "http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php";

            $.ajax({
                type: "POST",
                url: url,
                data: dataString,
                success: function() {
                    $('#basic-modal-content').html("<p>Thank you for subscribing to Samasource. You have successfully signed up to receive our newsletter.</p>");
                }
            });
            return false;
        });

        $(".manta").click(function() {

            var templatedir = "http://static.samasource.org/wp-content/themes/samasource/_/images/mamta-box.jpg";

            $('#basic-modal-content').html(

                    '<p class="worker-title"><span class = "modal-title">Mamta Devi</span><br/>Jharkhand, India </p>'+
                            '<hr>' +
                            '<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/mamta-box.jpg">' +
                            '<div class="worker-text"><p>Mamta is the primary breadwinner in her family, an unthinkable position for most women in her rural community. Through Samasource, Mamta is able to earn a living wage by performing digital tasks for companies around the world.  Mamta’s father-in-law now watches her children while she works because he realizes the value of her income.</p>' +
                            '<div class="cta-140">' +
                            '<a href="/get-involved" class="cta-140">get involved<span class="yellow-arrows"> >></span></a>' +
                            '</div>' +
                            '</div>'



            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-workers',
                overlayClose:true
            });
            return false;
        });

        $(".reena").click(function() {

            $('#basic-modal-content').html(
                    '<p class="worker-title"><span class = "modal-title">Reena Prasaad</span><br/>Kolkata, India </p>'+
                            '<hr>' +
                            '<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/reena-box.jpg">' +
                            '<div class="worker-text"><p>Reena, an ambitious young woman who attends college while working at Samasource, uses her earnings to support herself and put her three younger siblings and niece through school. In the words of Reena’s supervisor, “She is a bright and motivated woman with great promise. The client is always happy with her work</p>' +
                            '<div class="cta-140">' +
                            '<a href="/get-involved" class="cta-140">get involved<span class="yellow-arrows"> >></span></a>' +
                            '</div></div>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-workers',
                overlayClose:true
            });
            return false;
        });

        $(".neha").click(function() {

            $('#basic-modal-content').html(
                    '<iframe width="540" height="300" src="http://www.youtube.com/embed/WZ8lstt3Avk" frameborder="0" allowfullscreen></iframe>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-video',
                overlayClose:true
            });
            return false;
        });

        $(".soni").click(function() {

            $('#basic-modal-content').html(

                    ' <iframe width="540" height="300" src="http://www.youtube.com/embed/HDzByaTe2rg" frameborder="0" allowfullscreen></iframe>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-video',
                overlayClose:true
            });
            return false;
        });

        $(".rakesh").click(function() {

            $('#basic-modal-content').html(

                    '<p class="worker-title"><span class = "modal-title">Rakesh Singh</span><br/>Ranchi, India </p>'+
                            '<hr>' +
                            '<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/rakesh-box.jpg">' +
                            '<div class="worker-text"><p>For someone who was afraid of computers and worried something would go wrong if he touched them, Rakesh has come a long way. He enjoys his work and has a strong desire to excel.</p>' +
                            '<div class="cta-140">' +
                            '<a href="/get-involved" class="cta-140">get involved<span class="yellow-arrows"> >></span></a>' +
                            '</div></div>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-workers',
                overlayClose:true
            });
            return false;
        });

        $(".lhakyi").click(function() {

            $('#basic-modal-content').html(
                    '<p class="worker-title"><span class = "modal-title">Lhakyi Kelsang</span><br/>Dharamshala, India </p>'+
                            '<hr>' +
                            '<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/lhakyi-box.jpg">' +
                            '<div class="worker-text"><p>Lhakyi was born in Tibet and fled to India with her family in 2006 to escape political persecution.Knowing she would need to earn a living to help her family survive, Lhakyi began working for Samasource in India, where she received training to improve her English and computer skills.' + '<br>' +
                            'With her first few paychecks, Lhakyi purchased a small laptop so that she could continue working even after the delivery center where she was employed closed for the evening.</p>'+
                            '<div class="cta-140">' +
                            '<a href="/get-involved" class="cta-140">get involved<span class="yellow-arrows"> >></span></a>' +
                            '</div></div>'
            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-workers',
                overlayClose:true
            });
            return false;
        });

        $(".more-news").click(function() {

            $('#basic-modal-content').html(

                    '<img src="http://static.samasource.org/wp-content/themes/samasource/_/images/fastcompany.png">' +
                            '<div class="fast-news">'+
                            '<h1>Meet The League Of Extraordinary Women</h1>'+
                            '<p>The previously untold story of how an unprecedented network of high-achieving women from the world\'s largest companies, innovative startups, philanthropic organizations, government, and the arts combined forces to change the lives of girls and women everywhere.</p>'+
                            '<p><a href="http://www.fastcompany.com/1839862/meet-league-extraordinary-women-60-influencers-who-are-changing-world" target="_blank">Read More >></a></p>'+
                            '</div>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-news',
                overlayClose:true
            });
            return false;
        });

        $(".donate-skills").click(function() {

            $('#basic-modal-content').html(

                    '<p>Thank you for your interest in donating your skills to Samasource. Complete this form and you’ll hear from us soon.</p>' +

                            '<hr>' +

                            '<input type=hidden name="oid" id="oid" value="00D80000000ZMtJ">' +
                            '<input type=hidden name="retURL" value="http://">' +
                            '<input type=hidden id="recordType" name="recordType" value="Fundraising">' +
                            '<input type=hidden name="lead_source"  id="lead_source" value="Website In-Kind Lead">' +
                            '<div class="form-row">' +
                            '<label for="email">Email</label></br><input  id="email" maxlength="80" name="email" size="20" type="text"/><br>' +
                            '</div><div class="form-row">'+
                            '<label for="first_name">First Name</label></br><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="last_name">Last Name</label></br><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="company">Company</label></br><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="title">Title</label></br><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="zip">Zip</label></br><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>' +
                            '</div>'+ '<div class="form-row">' +
                            '<label for="description">Area of Interest</label></br><textarea name="description" rows="4" cols="22"></textarea><br>' +
                            '</div>'+
                            '<input type="submit" id="skills-submit-register" class="submit-button" name="submit">' +

                            '</form>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-signup',
                overlayClose:true
            });
            return false;
        });


        $("#skills-submit-register").live("click",function() {
            var oid = $("#oid").val();
            var lead_source = $("#lead_source").val();
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var zip = $("#zip").val();
            var company = $("#company").val();
            var title = $('#title').val();

            var dataString = 'oid='+ oid + '&lead_source=' + lead_source + '&first_name=' + first_name + '&last_name=' + last_name + '&email=' + email + '&zip=' + zip + '&company=' + company + '&title=' + title;

            var url = "http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php";

            $.ajax({
                type: "POST",
                url: url,
                data: dataString,
                success: function() {
                    $('#basic-modal-content').html("<p>Thank you for expressing interest in donating your skills to Samasource. We will be in touch shortly with more information.</p>");
                }
            });
            return false;
        });

        $(".donate-gifts").click(function() {

            $('#basic-modal-content').html(

                    '<p>Thank you for your interest in donating gifts in kind to Samasource. Complete this form and you’ll hear from us soon.</p>' +

                            '<hr>' +

                            '<input type=hidden name="oid" id="oid" value="00D80000000ZMtJ">' +
                            '<input type=hidden name="retURL" value="http://">' +
                            '<input type=hidden id="recordType" name="recordType" value="Fundraising">' +
                            '<input type=hidden name="lead_source"  id="lead_source" value="Website In-Kind Lead">' +
                            '<div class="form-row">' +
                            '<label for="email">Email</label></br><input  id="email" maxlength="80" name="email" size="20" type="text"/><br>' +
                            '</div><div class="form-row">'+
                            '<label for="first_name">First Name</label></br><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="last_name">Last Name</label></br><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="company">Company</label></br><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="title">Title</label></br><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="zip">Zip</label></br><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>' +
                            '</div>'+
                            '<div class="form-row">' +
                            '<label for="description">Description and Quantity of Items</label></br><textarea name="description" rows="4" cols="22"></textarea><br>' +
                            '</div>'+
                            '<input type="submit" id="gifts-submit-register" class="submit-button" name="submit">' +

                            '</form>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-signup',
                overlayClose:true
            });
            return false;
        });

        $("#gifts-submit-register").live("click",function() {
            var oid = $("#oid").val();
            var lead_source = $("#lead_source").val();
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var zip = $("#zip").val();
            var company = $("#company").val();
            var title = $('#title').val();

            var dataString = 'oid='+ oid + '&lead_source=' + lead_source + '&first_name=' + first_name + '&last_name=' + last_name + '&email=' + email + '&zip=' + zip + '&company=' + company + '&title=' + title;

            var url = "http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php";

            $.ajax({
                type: "POST",
                url: url,
                data: dataString,
                success: function() {
                    $('#basic-modal-content').html("<p>Thank you for expressing interest in donating gifts to Samasource. We will be in touch shortly with more information.</p>");
                }
            });
            return false;
        });


        $(".becomeapartner").click(function() {

            $('#basic-modal-content').html(

                    '<p>Complete this form to receive more information on corporate sponsorship opportunities with Samasource.</p>' +

                            '<hr>' +

                            '<input type=hidden name="oid" id="oid" value="00D80000000ZMtJ">' +
                            '<input type=hidden name="retURL" value="http://">' +
                            '<input type=hidden id="recordType" name="recordType" value="Fundraising">' +
                            '<input type=hidden name="lead_source"  id="lead_source" value="Website Sponsorship Lead">' +
                            '<div class="form-row">' +
                            '<label for="email">Email</label></br><input  id="email" maxlength="80" name="email" size="20" type="text"/><br>' +
                            '</div><div class="form-row">'+
                            '<label for="first_name">First Name</label></br><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="last_name">Last Name</label></br><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="company">Company</label></br><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="title">Title</label></br><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="zip">Zip</label></br><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>' +
                            '</div>'+
                            '<input type="submit" id="sf-submit-register" class="submit-button" name="submit">' +

                            '</form>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-signup',
                overlayClose:true
            });
            return false;
        });


        $("#sf-submit-register").live("click",function() {
            var oid = $("#oid").val();
            var lead_source = $("#lead_source").val();
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var zip = $("#zip").val();
            var company = $("#company").val();
            var title = $('#title').val();

            var dataString = 'oid='+ oid + '&lead_source=' + lead_source + '&first_name=' + first_name + '&last_name=' + last_name + '&email=' + email + '&zip=' + zip + '&company=' + company + '&title=' + title;

            var url = "http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php";

            $.ajax({
                type: "POST",
                url: url,
                data: dataString,
                success: function() {
                    $('#basic-modal-content').html("<p>Thank you for expressing interest in becoming a partner. We will be in touch shortly with more information.</p>");
                }
            });
            return false;
        });


//On click produce modal window for becoming a foundation partner

        $("#foundation-button").click(function() {

            $('#basic-modal-content').html(

                    '<p>Complete this form to receive more information on foundation sponsorship opportunities with Samasource.</p>' +

                            '<hr>' +

                            '<input type=hidden name="oid" id="oid" value="00D80000000ZMtJ">' +
                            '<input type=hidden name="retURL" value="http://">' +
                            '<input type=hidden id="recordType" name="recordType" value="Fundraising">' +
                            '<input type=hidden name="lead_source"  id="lead_source" value="Website Sponsorship Lead">' +
                            '<div class="form-row">' +
                            '<label for="email">Email</label></br><input  id="email" maxlength="80" name="email" size="20" type="text"/><br>' +
                            '</div><div class="form-row">'+
                            '<label for="first_name">First Name</label></br><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="last_name">Last Name</label></br><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="company">Company</label></br><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="title">Title</label></br><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>' +
                            '</div><div class="form-row">'+
                            '<label for="zip">Zip</label></br><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>' +
                            '</div>'+
                            '<input type="submit" id="sf-submit-register" class="submit-button" name="submit">' +

                            '</form>'

            );

            $('#basic-modal-content').modal({
                containerId: 'simplemodal-signup',
                overlayClose:true
            });
            return false;
        });

        $("#sf-submit-register").live("click",function() {
            var oid = $("#oid").val();
            var lead_source = $("#lead_source").val();
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var zip = $("#zip").val();
            var company = $("#company").val();
            var title = $('#title').val();

            var dataString = 'oid='+ oid + '&lead_source=' + lead_source + '&first_name=' + first_name + '&last_name=' + last_name + '&email=' + email + '&zip=' + zip + '&company=' + company + '&title=' + title;

            var url = "http://samasource.org/wp-content/themes/samasource/_/inc/sfprocess.php";

            $.ajax({
                type: "POST",
                url: url,
                data: dataString,
                success: function() {
                    $('#basic-modal-content').html("<p>Thank you for your interest in becoming a Foundation Partner. We will be in touch shortly with more information.</p>");
                }
            });
            return false;
        });


    });
</script>


<!-- Asynchronous google analytics; this is the official snippet.
	 Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.-->

<script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25158346-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


</script>




</body>

</html>

<!-- Dynamic page generated in 0.284 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2012-12-08 08:21:58 -->
<!-- super cache -->